<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Software Engineer with focus on Ruby on Rails, with a good understanding of Object Oriented programming, Design Patterns and Agile methodologies. Totally comfortable working with Test Driven development. With a BS degree in Computer Science, I know for certain the life cycle of a software development project. I also have experience in learning and excelling at new technologies as needed. I'm also confident when it comes to be a leader developer.
</div>
