<footer id="footer" align="center">
    <p class="small">© Copyright {{ site.time | date: '%Y' }} {{ site.author }}</p>
    <a target="_blank" href="https://br.linkedin.com/in/felipepelizarogentil"><img id="github" class="social-icons" src="/assets/images/linkedin.png"/></a>
    <a target="_blank" href="http://www.github.com/fpgentil"><img id="github" class="social-icons" src="/assets/images/github.png"/></a>
    <a target="_blank" href="http://www.twitter.com/fpgentil"><img id="github" class="social-icons" src="/assets/images/twitter.png"/></a>
</footer>