<footer id="footer" align="center">
    <p class="small">© Copyright {{ site.time | date: '%Y' }} {{ site.author }}</p>
    <a href="#"><img id="github" class="social-icons" src="/assets/images/linkedin.png"/></a>
    <a href="#"><img id="github" class="social-icons" src="/assets/images/github.png"/></a>
    <a href="#"><img id="github" class="social-icons" src="/assets/images/facebook.png"/></a>
    <a href="#"><img id="github" class="social-icons" src="/assets/images/twitter.png"/></a>
</footer>